<div class="container mt-5">
  <div class="btn btn-success float-end mb-5" (click)="backtoList()">Back to List</div>

  <div class="row mt-5">
    <h4>View Water Tax User</h4>
    <hr />

    <form class="card p-3 mb-4">
      <div class="row">
        <div class="col-3 mb-3 flex-column">
          <label class="form-label fw-bold">First Name</label>
          <p>{{ waterTaxsta.firstName}}</p>
        </div>
         <div class="col-3 flex-column">
          <label class="form-label fw-bold">Middle Name</label>
          <p>{{waterTaxsta.middleName}}</p>
        </div>
        <div class="col-3 mb-3 flex-column">
          <label class="form-label fw-bold">Last Name</label>
          <p>{{ waterTaxsta.lastName}}</p>
        </div>
        
        <div class="col-3 flex-column">
          <label class="form-label fw-bold">Mobile No</label>
          <p>{{waterTaxsta.mobileNumber}}</p>
        </div>
        <div class="col-3 mb-3 flex-column">
          <label class="form-label fw-bold">Designation</label>
          <p>{{ waterTaxsta.designation}}</p>
        </div>
       
      </div>



    </form>

  </div>
</div>