<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Task1(Click Event)</h5>
                    <ul>
                        <li>
                            Create a button <b>Click Me.</b><div class="btn btn-sm btn-primary ms-2 " (click)="onClick()"> Click Me</div>
                        </li>
                        <li>
                            On the click on button showcase alert with text Hello Javascript
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>