<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="event-task">Event Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="birth-certificate">Birth Certificate</a>
        </li>
        <li>
          <a class="nav-link" routerLink="No-duesCertificate">NoDues-Certificate</a>
        </li>
        <li>
          <a class="nav-link" routerLink="to-do">To-Do</a>
        </li>
        <li>
          <a class="nav-link" routerLink="survey">Survey</a>
        </li>
        <li>
          <a class="nav-link" routerLink="addclient">Add-Client</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- <qrcode [qrdata]="'str'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->

<router-outlet />