<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task2 (Onblur Event or Onchange)</h5>
                    <li>Take three textboxes.</li>
                    <li>Do multiplication of textbox 1 and 2 and store the result in textbox 3.</li>
                    <li>Example:</li>
                      <div class="d-flex gap-2">
                        <input type="number" class="form-control" style="width: 50%" #num1 (input)="multiplyValues(num1.value, num2.value)">
                        <input type="number" class="form-control" style="width: 50%" #num2 (input)="multiplyValues(num1.value, num2.value)"> =
                        <input type="number" class="form-control" style="width: 50%" [value]="result" readonly >
                      </div> 
                </div>
            </div>
        </div>
        <!-- <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task2 (Onblur Event or Onchange)</h5>
                    <li>Take three textboxes.</li>
                    <li>Do multiplication of textbox 1 and 2 and store the result in textbox 3.</li>
                    <li>Example:</li>
                      <div class="d-flex gap-2">
                        <input type="number" class="form-control" style="width: 50%" #num1 (input)="multiplyValues(num1.value, num2.value)">
                        <input type="number" class="form-control" style="width: 50%" #num2 (input)="multiplyValues(num1.value, num2.value)"> =
                        <input type="number" class="form-control" style="width: 50%" [value]="result" readonly >
                      </div> 
                </div>
            </div>
        </div> -->
    </div>
</div>