<div class="container mt-4">
  <div class="btn btn-success float-end mb-5" (click)="adduser()">Add Water-Tax User</div>

  <table class="table table-bordered table-striped text-center mt-5">
    <thead class="table-dark">
      <tr>
        <th>Sr. No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Middle Name</th>
        <th>Mobile No.</th>
        <th>Designation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="waterTaxStatuses.taxUsersList.length>0; else noData">
      <tr *ngFor="let status of waterTaxStatuses.taxUsersList; let i = index">
        <td>{{i + 1}}</td>
        <td>{{status.firstName}}</td>
        <td>{{status.lastName}}</td>
        <td>{{status.middleName}}</td>
        <td>{{status.mobileNumber}}</td>
        <td>{{status.designation}}</td>
        <td>
          <i class="bi bi-eye pe-1 text-primary" style=" cursor: pointer;" (click)="onViewclick(status.id)"></i>
          <i class="bi bi-pencil-square text-warning" style="cursor: pointer;" (click)="editwatertaxStatus(status.id)"></i>
          <i class="bi bi-trash ps-1 text-danger" style="cursor: pointer;" (click)="deletewaterTaxuser(status.id)" ></i>
        </td>
      </tr>
    </tbody>
     <ng-template #noData>
        <tr>
          <td colspan="4" class="text-center">No payment statuses found.</td>
        </tr>
      </ng-template>
  </table>
</div>
